atomicwrites==1.4.0
attrs==19.3.0
backports.functools-lru-cache==1.6.1
configparser==4.0.2
contextlib2==0.6.0.post1
credis==2.0.0
Cython==0.29.21
funcsigs==1.0.2
gevent==20.6.2
greenlet==0.4.16
hiredis==1.1.0
importlib-metadata==1.7.0
more-itertools==5.0.0
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==4.6.11
redis==3.5.3
scandir==1.10.0
six==1.15.0
wcwidth==0.2.5
zipp==1.2.0
zope.event==4.4
zope.interface==5.1.0
